.vscode
dist/*
!dist/keepme

#Ignore anything in deps
deps/*
build

#But for the top level directories
!deps/keepme 
!deps/SDL3-3.2.0
!deps/SDL3_image-3.2.0 

# However do not include the entirity of the file structure and some documentation of whats supposed to be there
deps/SDL3-3.2.0/*
!deps/SDL3-3.2.0/keepme

#Repeat exclusion pattern for other deps
deps/SDL3_image-3.2.0/*
!deps/SDL3_image-3.2.0/keepme

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
